body {
  background-color: black;
  color: white;
}

.logo {
  width: 125px;
  margin: auto;
  float: right;
}

.Username {
  margin-top: 50px;
}

.App {
  text-align: center;
}

.table {
  color: blue;
  /* background-color: yellow; */
}

#typeText {
  background-color: white;
}

.nav-bar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav-bar-ul-li {
  float: left;
  color: inherit;
  text-decoration: inherit;
}

.nav-bar-ul-li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-bar-ul-li.a:hover {
  background-color: #111;
}

.table {
  background-color: white;
}

.card-body {
}
